.form-agendar {
  display: flex;
  flex-direction: column; /* Coloca um campo abaixo do outro */
  gap: 15px;             /* Espaçamento entre os campos */
  padding: 20px;
}

mat-card {
  max-width: 500px;      /* Evita que o card fique largo demais em monitores grandes */
  margin: 2em auto;      /* Centraliza o card na tela */
}