<div class="container-agendar">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Agendar Serviço 🗓️</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="agendamentoForm" (ngSubmit)="onSubmit()" class="form-agendar">
        
        <mat-form-field appearance="outline">
          <mat-label>Selecione seu Pet</mat-label>
          <mat-select formControlName="pet">
            <mat-option *ngFor="let pet of meusPets" [value]="pet">
              {{ pet.nome }} ({{ pet.especie }})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Qual o serviço?</mat-label>
          <mat-select formControlName="servico">
            <mat-option *ngFor="let s of servicosDisponiveis" [value]="s">
              {{ s.nome }} - {{ s.preco | currency:'BRL' }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data e Horário</mat-label>
          <input matInput type="datetime-local" formControlName="dataHora">
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="agendamentoForm.invalid">
          Confirmar Agendamento
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>