.espacador {
  flex: 1 1 auto;
}

.logo {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Responsividade Básica */
.menu-mobile {
  display: none;
}

.menu-desktop {
  display: flex;
  align-items: center;
  gap: 10px;
}

.conteudo-principal {
  min-height: calc(100vh - 120px); /* Garante que o rodapé fique embaixo */
  padding: 20px;
}

.rodape {
  text-align: center;
  padding: 20px;
  background: #f1f5f9;
  color: #64748b;
  font-size: 0.8rem;
}

/* Quando a tela for menor que 768px (Celulares) */
@media (max-width: 768px) {
  .menu-desktop {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
}