<div class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ petIdEdicao ? 'Editar Pet 🐾' : 'Cadastrar Novo Pet 🐾' }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="petForm" (ngSubmit)="onSubmit()" class="meu-formulario">

        <mat-form-field appearance="outline">
          <mat-label>Nome do Pet</mat-label>
          <input matInput formControlName="nome" placeholder="Ex: Rex">
          <mat-error *ngIf="petForm.get('nome')?.hasError('required')">
            O nome é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Espécie</mat-label>
          <mat-select formControlName="especie">
            <mat-option value="Cachorro">Cachorro</mat-option>
            <mat-option value="Gato">Gato</mat-option>
            <mat-option value="Ave">Ave</mat-option>
            <mat-option value="Outro">Outro</mat-option>
          </mat-select>
          <mat-error *ngIf="petForm.get('especie')?.hasError('required')">
            Selecione uma espécie.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Raça</mat-label>
          <input matInput formControlName="raca" placeholder="Ex: Labrador">
          <mat-error *ngIf="petForm.get('raca')?.hasError('required')">
            A raça é obrigatória.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Peso (kg)</mat-label>
          <input matInput type="number" formControlName="peso" placeholder="Ex: 15.5">
          <mat-error *ngIf="petForm.get('peso')?.hasError('required')">
            O peso é obrigatório.
          </mat-error>
          <mat-error *ngIf="petForm.get('peso')?.hasError('min')">
            O peso deve ser maior que zero.
          </mat-error>
        </mat-form-field>

        <div class="botoes-container">
          <button mat-button type="button" routerLink="/tutor/meus-pets">Cancelar</button>
          
          <button mat-raised-button color="primary" type="submit" [disabled]="petForm.invalid">
            {{ petIdEdicao ? 'Atualizar Pet' : 'Salvar Pet' }}
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>