.dashboard-container {
  padding: 10px;
}

/* Os cards se organizam em linha em telas grandes e coluna em telas pequenas */
.cards-grid {
  display: flex;
  flex-wrap: wrap; /* Permite quebrar linha se não couber */
  gap: 20px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.info-card {
  flex: 1 1 calc(33.333% - 20px); /* Tenta ocupar 1/3 da tela */
  min-width: 280px; /* Não deixa o card ficar pequeno demais */
}

.card-value {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: right;
  margin: 10px 0;
}

.clicavel {
  cursor: pointer;
  transition: transform 0.2s;
}

.clicavel:hover {
  transform: scale(1.02); /* Dá um leve zoom ao passar o mouse */
  background-color: #fdfdfd;
}